spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    #    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/studs}
    #    username: ${SPRING_DATASOURCE_USERNAME:s367044}
    #    password: ${SPRING_DATASOURCE_PASSWORD:rkemWfU26OYiwbkD}
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${SPRING_DATASOURCE_USERNAME:mihailagei}
    password: ${SPRING_DATASOURCE_PASSWORD:}

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
        format_sql: true
        use_sql_comments: true
        default_schema: public
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      mode: always

logging:
  level:
    org:
      hibernate:
        type: debug

server:
  port: 18123
