spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
        format_sql: true
        use_sql_comments: true
        default_schema: public
    generate-ddl: true
    hibernate:
      ddl-auto: update
    show-sql: false

  sql:
    init:
      mode: never

logging:
  level:
    org:
      hibernate:
        type: info
    root: info

server:
  port: 18123

